.tour-photo{
    display: flex;
}
.tour-part1{
    display: flex;
}
.tour-part2{
    display: flex;
}
.tour-part3{
    display: flex;
}
.home-body-color{
    padding-top: 100px;
    background-color: rgba(16, 16, 17, 0.6);
    color: white;
}