.photo1{
    background-image: url(./pic1.png);  
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 50px;
    margin-bottom: 200px;
    border-radius: 26px;
    height: 300px;
    width: 200px; 
}
.photo1 h3{
    text-align: center;
    margin-top: 226px;
}
.photo1:hover{
    border: 2px solid rgb(249, 165, 26);
    box-shadow: 0px 0px 10px #FFC107;
}